{% extends "base.html" %}
{% block title%}Создание тестов{% endblock %}
{% block content %}
<body>
	<div class="container">
        <!-- <a href="/resume" class="btn mt-4 btn-primary">Создать резюме</a> -->
        <!-- <h2 class="text-start mt-4">Мои резюме</h2>   -->
        <div class="row">
            <div class="col">
                <h2 class="text-start mt-4">Мои тесты</h2> 
                <form method="post">
                    <button name="create_quiz" type="submit" class="btn mb-4 btn-outline-primary">Создать тест</button>
                    <button name="create_resume" type="submit" class="btn mb-4 btn-outline-secondary">Посмотреть статистику</button>
                </form>
            </div>	
        	{%for res in result%}
			<div class="row mt-4">
				<div class="col ">
					<a href="/quiz/edit/{{ res.qid }}" style="color:#00c3ff" class="fs-4">{{ res.subject }}</a>
				</div>
			</div>
			<div class="row">
				<div class="col" style="color:#ff0000">
					{%if res.status == 0 %}
					Тест не одобрен
					{% endif %}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{{ res.description }} 
				</div>
			</div>
			<div class="row">
				<div class="col">
					Количество вопросов: {{ res.count }}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{%if res.status == 0 %}
					{% else %}
					Не прикреплено
					{% endif %}
				</div>	
			</div>
			<form method="post">
				<div class="col">
					{%if res.status == 0 %}
					<button name = "deactivation_resume" value = "{{ res.resume_id }}" class="mt-1 btn btn-secondary">Отправить на проверку</button>
					{% else %}
					<button name = "deactivation_resume" value = "{{ res.resume_id }}" class="mt-1 btn btn-primary">Прикрепить</button>
					<button name = "deactivation_resume" value = "{{ res.resume_id }}" class="mt-1 btn btn-warning">Изменить</button>
					{% endif %}
					<button name = "delete_resume" value = "{{ res.resume_id }}" type = "submit" class="mt-1 btn btn-danger">Удалить</button>
				</div>
			</form>
			{% endfor %}
		</div>
	</div>
</body>
{% endblock %}