{% extends "base.html" %}
{% block title%}Тесты{% endblock %}
{% block content %}
<body>
    <div class="container">
        <form method="GET">
            <div class="row mt-4">
                <div class="col">
                    <h2 class="card-title text-center">Онлайн тесты для оценки кандидатов</h2>
                    <div class="accordion accordion-flush row mt-4" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <p class="card-title fs-5">Зачем давать тестовые задания</p>
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p class="card-title ">Тестовые задания экономят время. Многие люди откликаются на вакансии просто «на авось», даже если смутно подозревают, что у них не хватает опыта и нет компетенций. Если вы предвидите большой поток откликов, тестовое задание до первого собеседования отсеет заметную долю тех, кто не хочет или не может закрыть вашу позицию.</p>
                                <p class="card-title ">А вот с теми, кто хорошо справится с тестом, уже интересно знакомиться и идти по процессу дальше. Сам факт, что человек сделал задание, говорит о том, что ему интересно познакомиться с вами, а если все сложится — остаться работать. Кроме мотивации, тестовое покажет, как человек мыслит и умеет ли он на самом деле все то, что так хорошо расписал в резюме. Вы увидите его сильные и слабые стороны как специалиста и сможете понять — впишется ли такой человек в вашу команду.</p>
                                <p class="card-title ">Правильно составленное тестовое поможет и кандидату — да, он потратит время, чтобы его выполнить. Но зато получит максимально близкий к реальности опыт работы в вашей компании. Он поймет, какие задачи ждать, как эти задачи ставят и принимают, как дают обратную связь. Тестовое убережет от разочарования во время выхода на работу или на стажировку.</p>
                                <p class="card-title ">Таким образом тестовые задания:</p>
                                <li class="card-title">экономят время рекрутера, нанимающего специалиста, и самого кандидата;</li>
                                <li class="card-title">отсекают «не ваших» людей — со слабыми результатами, без мотивации или с таким подходом к работе, который в вашей компании не принесет пользы;</li>
                                <li class="card-title">покажут, как человек будет справляться с реальными рабочими задачами.</li>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <p class="card-title fs-5">Когда давать или не давать тестовые задания</p>
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <p class="card-title fs-5">Правила хорошего тестового</p>
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                          </div>
                        </div>
                      </div>
                      <p class="card-title mt-4">На нашем сайте можно проходить как общие, так и тесты для конкретных вакансий.</p>
                      <p class="card-title">При успешном прохождении общего теста работодатель может пригласить вас для дальнейшего общения.</p>
                      {%if session %}
                      <a href="/quiz/list" class="btn mt-2 btn-primary">Перейти к тестам</a>
					  {%if session['role'] == 'employer' or session['role'] == 'metodist'  %}
					  <a href="/quiz/create" class="btn mt-2 btn-outline-primary">Перейти к созданию тестов</a>
					  {% endif %}
					  {% else %}
                      <p class="card-title mt-4">Для того чтобы перейти к общим тестам вам необходимо войти или зарегестрироваться</p>
                      <a href="/auth/auth" class="btn btn-primary">Авторизация</a>
                      {% endif %}
                </div>
            </div>
</body>
{% endblock %}