{% extends "base.html" %}
{% block title%}Рекрутинг. Поиск вакасий{% endblock %}
{% block content %}
<body>
    <form method="GET">
    {%for res in result%}	
        <!-- <div class="card" style="width: 40rem;"> -->
        <div class="card-body">
            <h2 class="card-title text-center">Тема: {{ res.subject }}</h2>
            <p class="card-text text-center">{{ res.description }}</p>
            <!-- <p class="card-text text-center">Требуется: {{ res.id }}</p> -->
            <!-- <h2>{{ res.salary }}</h2> -->
            <!-- <h2>{{ res.name }}</h2> -->
        </div>
        <p class="tab"></p>
        <!-- </div> -->
    {% endfor %}
    </form>
    <form method="POST">
		<div class="row">
			<div class="col">
				<button type="submit" name="quiz" class="d-grid gap-2 col-4 mx-auto btn btn-primary">Пройти тест</button>
			</div>
		</div>
	</form>
</body>
{% endblock %}