{% extends "base.html" %}
{% block title%}Описание вакансии{% endblock %}
{% block content %}
	<body>
		<div class="container">
			<form method="GET">
				{%for res in result%}
				<div class="row mt-4">
					<div class="col">
						<h2 class="card-title">{{ res.company }}</h2>
						{% if success %}
						<p style="color: green" class="card-text">
							Вакансия успешно отправлена	
						</p>
						{% endif %}
						<p class="card-text text-break">{{ res.description }}</p>
						<p class="card-text">Зарплата: {{ res.salary }}</p>
						<p class="card-text">Требуется: {{ res.name }}</p>
						{{ res.full_description | safe }}
						<p class="card-text">Email: {{ res.email }}</p>
						<p class="card-text">Address: {{ res.address }}</p>
					</div>
				</div>
				{% endfor %}
			</form>
			<form method="POST">
				<div class="row">
					<div class="col">
						{% if session %}
						<button name="response_button"  type="button"  class="mt-2 btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Откликнуться
						</button>
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="exampleModalLabel">Прикрепление резюме</h5>
								  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
								</div>
								<div class="modal-body">
									<div class="form-floating">
										<select name = "resume_id" class="form-select" id="floatingSelect" aria-label="Floating label select example">
										  {% for res in user_resume %}
										  	<option value="{{ res.resume_id}}">{{ res.position_work}} </option>
										  {% endfor %}
										</select>
										<label for="floatingSelect">Список ваших резюме</label>
									  </div>
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
								  <button name = "send_resume" type="submit" class="btn btn-success">Отправить резюме</button>
								</div>
							  </div>
							</div>
						  </div>
						{%endif%}
						{%if not session%}
						<button name="response_button" type="button" class="mt-2 btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Откликнуться
						</button>
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Необходимо зарегестрироваться в системе</h5>
									</div>
									<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
									<a href="/auth/auth" class="btn btn-primary">Регистарция</a>
									</div>
								</div>
							</div>
						</div>
						{%endif%}
						<a href="/#" class="btn btn-primary mt-2">Вернуться обратно</a>
					
					</div>
					
				</div>
			</div>
		</form>
	</body>
{% endblock %}