{% extends "base.html" %}
{% block title%}Рекрутинг. Поиск вакасий{% endblock %}
{% block content %}
	<body>
		<div class="container">
			<form method="GET">
                {% if result %}
					{%for res in result%}
						<div class="row mt-4">
							<div class="col">
								<h2 class="card-title">{{ res.company }}</h2>
								<p class="card-text text-break">{{ res.description | safe }}</p>
							</div>
						</div>
					{% endfor %}
					{%else%}
						<div class="row mt-4">
							<div class="col">
								<h2 class="card-title">У компании нет профиля</h2>
							</div>
						</div>
                {%endif%}
			</form>
        </div>
	</body>
{% endblock %}