{% extends "base.html" %}
{% block title%}Рекрутинг. Поиск вакасий{% endblock %}
{% block content %}
<body>
	<form method="POST">
		<div class="d-flex mt-4 col-11 mx-auto" style="align-items: center;">
			<input type="text" name = "search" required class="form-control" placeholder="Поиск">
			<input name = "search_button" type="submit" value ="Поиск" class="ms-2 btn bg-dark text text-light"></input>
		</div>
	</form>
	<div>
		<div class="container">
			<div class="row ">
				{% if name %} 
					{% if search_count == 0 %}
					<div class="mt-5">
						<h2>По запросу "{{ name }}" ничего не найдено</h2>
					</div>
					{% else %}
					<div class="mt-5">
						<h2>Поиск по запросу: "{{ name }}"</h2>
					</div>
					{% endif %}
				{% endif %}
				{%for res in result%}
					
					<div class="col-sm-5 offset-sm-0 col-md-4 offset-md-0 row mt-5 ps-5">
						<a href="/posts/{{ res.id }}" style="text-decoration: none;">
							<h2 style="color:#00c3ff" class="card-text">{{ res.name }}</h2>
						</a>
						{% if res.salary != 0 %} 
							<h5 style="color:#566064" class="card-text">Зарплата: {{ res.salary }}</h5>
						{% else  %}
							<h5 style="color:#566064" class="card-text">Зарплата не указана </h5>
						{% endif %}
						<!-- <div class="text-wrap" style="width: 8rem;">
							{{ res.company }}: {{ res.description }}
						</div>	 -->
					
							<a href="/employer_profile/{{ res.company }}" value="{{ res.company }}" style="color:#000000; text-decoration: none; " class="card-title text-break ">{{ res.company }}: {{ res.description }}</a> 
						
						<form method="POST">
							<a href="/posts/{{ res.id }}" class="w-75 btn btn-primary"  name="detail" value="{{ res.id }}">Подробнее</a>
						</form>
					</div>
				{% endfor %}
				{% if page_paginate > 1 %}
					<div class="mt-5">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								{% for i in range(2, page_paginate + 1) %}
								<li class="page-item"><a class="page-link" href="/">1</a></li>
								<li class="page-item"><a id="page" class="page-link" href="./?page={{i}}">{{ i }}</a></li>
								<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
								{% endfor %}
								</li>
							</ul>
						</nav>
					</div>
				{% else %}
					<div class="mt-5"></div>
				{% endif %}
			</div>
		</div>
	</div>
</body>
{% endblock %}
