{% extends "base.html" %}
{% block title%}Рекрутинг. Поиск вакасий{% endblock %}
{% block content %}
<body>
	<div>
        <form method="post">
        <div class="container">
            <div class="row mt-5">
				{%if session['role'] == 'employer'%}
				<h2>Профиль пользователя компании {{ result[0]['company'] }}</h2>
				{%else%}
				<h2>Личная информация</h2>
				{%endif%}
		        {%for res in result%}
                    <div class="col p-2 mt-3">Имя</div>
                    {%if res.name == None%}
                        <div style="color:#505050" class="col-4 p-2 mt-3">Не указано</div>
                    {%endif%}
                    {%if res.name != None%}
                        <div class="col p-2 mt-3">{{ res.name }}</div>
                    {%endif%}
                    <a href="#name" class="text-primary text-end col-4 p-2 mt-3" data-bs-toggle="collapse" data-bs-target="#collapseExample_3" aria-expanded="false" aria-controls="collapseExample_3">Изменить</a>
                    <hr>
                    <div class="collapse" id="collapseExample_3">
                        <div class="input-group d-inline-flex p-2 bd-highlight gap-2 col-5">
                            <input type="text" name = "name"  class="form-control" placeholder="Введите Имя">
                            <input name = "new_name" type="submit" value ="Сохранить" class="btn btn-primary"></input>
                        </div>
                        <hr>
                    </div>
					<div class="col p-2">Фамилия</div>
                    {%if res.last_name == None%}
                        <div style="color:#505050" class="col-4 p-2">Не указана</div>
                    {%endif%}
                    {%if res.last_name != None%}
                        <div class="col p-2">{{ res.last_name }}</div>
                    {%endif%}
                    <a href="#name"  class="text-primary text-end col-4 p-2" data-bs-toggle="collapse" data-bs-target="#collapseExample_4" aria-expanded="false" aria-controls="collapseExample_4">Изменить</a>
                    <hr>
                    <div class="collapse" id="collapseExample_4">
                        <div class="input-group d-inline-flex p-2 bd-highlight gap-2 col-5">
                            <input type="text" name = "last_name" class="form-control" placeholder="Введите Фамилию">
                            <input name = "new_last_name" type="submit" value ="Сохранить" class="btn btn-primary"></input>
                        </div>
                        <hr>
                    </div>
                    <div class="col p-2">Email</div>
                    {%if res.email == None%}
                        <div style="color:#505050" class="col-4 p-2">Не указан</div>
                    {%endif%}
                    {%if res.email != None%}
                        <div class="col p-2">{{ res.email }}</div>
                    {%endif%}
                    <a href="#email"  class="text-primary text-end col-4 p-2" data-bs-toggle="collapse" data-bs-target="#collapseExample_2" aria-expanded="false" aria-controls="collapseExample_2">Изменить</a>
                    <hr>
                    <div class="collapse" id="collapseExample_2">
                        <div class="input-group d-inline-flex p-2 bd-highlight gap-2 col-5">
                            <input type="text" name = "email" class="form-control" placeholder="Введите Email">
                            <input name = "new_email" type="submit" value ="Сохранить" class="btn btn-primary"></input>
                        </div>
                        <hr>
                    </div>			
                    <div class="col p-2">Номер телефона</div>
                    {%if res.phone_number == None%}
                        <div style="color:#505050" class="col-4 p-2">Не указан</div>
                    {%endif%}
                    {%if res.phone_number != None%}
                        <div class="col p-2">{{ res.phone_number }}</div>
                    {%endif%}
					<!-- <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Переключить первый элемент</a> -->
                    <a href="#phone"  class="text-primary text-end col-4 p-2" data-bs-toggle="collapse" data-bs-target="#collapseExample_1" aria-expanded="false" aria-controls="collapseExample_1">Изменить</a>
                    <hr>
                    <div class="collapse" id="collapseExample_1">
                        <div class="input-group d-inline-flex p-2 bd-highlight gap-2 col-5">
                            <input type="text"  name = "phone_number" class="form-control" placeholder="Введите номер телефона">
                            <input name = "new_number" type="submit" value ="Сохранить" class="btn btn-primary"></input>
                        </div>
                        <hr>
                    </div>
                    
                    <div class="col p-2">Регион</div>
                    {%if res.region == None%}
                        <div style="color:#505050" class="col-4 p-2">Не указан</div>
                    {%endif%}
                    {%if res.region != None%}
                        <div class="col p-2">{{ res.region }}</div>
                    {%endif%}
                    <a href="#region" class="text-primary text-end col p-2" type="submit" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Изменить</a>
                    <hr>
                    <div class="collapse" id="collapseExample">
                        <div class="input-group d-inline-flex p-2 bd-highlight gap-2 col-5">
							<input type="text"  name = "region" class="form-control" placeholder="Введите регион">
                            <input name = "new_region" type="submit" value ="Сохранить" class="btn btn-primary"></input>
                        </div>
                    </div>
					{%if session['role'] == 'employer'%}
					<div class="col p-2">Адрес</div>
					<div class="col p-2">{{ res.address }}</div>
                    <a href="#address" class="text-primary text-end col p-2" type="submit" data-bs-toggle="collapse" data-bs-target="#collapseExample_5" aria-expanded="false" aria-controls="collapseExample_5">Изменить</a>
                    <hr>
                    <div class="collapse" id="collapseExample_5">
                        <div class="input-group d-inline-flex p-2 bd-highlight gap-2 col-5">
							<input type="text"  name = "address" class="form-control" placeholder="Введите адрес">
                            <input name = "new_address" type="submit" value ="Сохранить" class="btn btn-primary"></input>
                        </div>
                    </div>
					{%endif%}
				{% endfor %}
            </div>
        </div>
    </div>
</form>
</body>
{% endblock %}