{% extends "base.html" %}
{% block title%}Рекрутинг. Поиск вакасий{% endblock %}
{% block content %}
{%for res in result%}	
<!-- <div class="card" style="width: 40rem;"> -->
    <div class="card-body">
        <h2 class="card-text text-center">Пользователь {{ res.id_user }} заинтересовался вашей вакансией на должность - "{{ res.name }}"</h2>
        <!-- <p class="card-text text-center">Требуется: {{ res.id }}</p> -->
        <!-- <h2>{{ res.salary }}</h2> -->
        <!-- <h2>{{ res.name }}</h2> -->
        </form>
    </div>
	
	<form method="POST">
		<a  style="margin: 10px;" class="d-grid gap-2 col-5 mx-auto btn btn-primary" name="detail" value="{{ res.id }}">Посмотреть резюме</a>
	</form>

<!-- </div> -->
{% endfor %}
{% endblock %}