{% extends "base.html" %}
{% block title%}Отклики{% endblock %}
{% block content %}


<body>
	<div class="container">
		<div class="row mt-4">
			<h2>Ваши вакансии</h2>
		</div>
		<table class="table mt-4">
			<thead>
			  <tr>
				<th scope="col">Название вакансии</th>
				<th scope="col">Адрес</th>
				<th scope="col">Количество откликов</th>
			  </tr>
			</thead>

			<tbody>
				{% for res in result %}
					<tr>
					<th>
						<a href="/response/{{ res.id }}">{{ res.name }}</a>			
					</th>
					<td>{{ res.address }}</td>
					{% for otcl in otclick_result %}
						{% if res.id == otcl.id_vac %}
						<td>{{ otcl.count }}</td>
						{% else %}
						<td>0</td>
						{% endif %}
					{% endfor %}	
					</tr>
			  	{% endfor %}
			</tbody>
		</table>
    </div>
</body>
{% endblock %} 