{% extends "base.html" %}
{% block title%}Рекрутинг. Поиск вакасий{% endblock %}
{% block content %}
<!-- 
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
		  <form class="d-flex">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		  </form>
		</div>
	  </nav> -->

<body>
	<div class="container">
        <!-- <a href="/resume" class="btn mt-4 btn-primary">Создать резюме</a> -->
        <!-- <h2 class="text-start mt-4">Мои резюме</h2>   -->
        <div class="row">
            <div class="col">
                <h2 class="text-start mt-4">Отклики и приглашения</h2> 
            </div>	
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
				  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Активные</button>
				</li>
				<li class="nav-item" role="presentation">
				  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Все отклики</button>
				</li>
			  </ul>
			  <form method="post">
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						{%for res in result%}
							{% if res.status == 1 %}
							<div class="row">
								<a href="/employer_profile/{{ res.company }}" style="text-decoration: none; color:#00c3ff" class="col mt-3 fs-4">
									{{ res.company }}
								</a>
								<div class="row">
									<div class="col">
										Должность: {{ res.name }}
									</div>
								</div>
								<div class="row">
									<div class="col">
										Зарплата: {{ res.salary }}
									</div>
								</div>
							</div>
							<a href="/posts/{{ res.id_vac }}" style="text-decoration: none;"name = "active_resume" value = "{{ res.resume_id }}"  class="mt-1 btn btn-secondary">Открыть вакансию</a>
							{% endif %}
						{% endfor %}
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						{%for res in result%}
						<div class="row">
							<div class="col mt-3 fs-4" style="color:#00c3ff">
								{{ res.company }}
							</div>
							<div class="row">
								<div class="col">
									Должность: {{ res.name }}
								</div>
							</div>
							<div class="row">
								<div class="col">
									Зарплата: {{ res.salary }}
								</div>
							</div>
						</div>
						<button name = "active_resume" value = "{{ res.resume_id }}"  class="mt-1 btn btn-secondary">Открыть вакансию</button>
						{% endfor %}
					</div>
				</div>
			</div>
		</form>
    </div>
</body>
{% endblock %}