{% extends "base.html" %}
{% block title%}Рекрутинг. Поиск вакасий{% endblock %}
{% block content %}
<body>
	<div class="container">
        <div class="row mt-4">
            <a style="width: 170px" href="/applicant" class="btn ms-2 mb-4 btn-outline-primary" >Обратно к резюме</a>
        </div>
    <h2 class="p-2 text-start">Редактирование информации о себе</h2>
    {%for res in user_resume%}
    <form method="post">
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Информация о себе</label>
            {%if res.about == None %}
            <textarea type="text" name = "about" required id = "about" class="form-control" placeholder="О себе" style="height: 200px"></textarea>
            {% else %}
            <textarea type="text" name = "about" required id = "about" class="form-control" placeholder="О себе" style="height: 200px">{{ res.about }}</textarea>
            {% endif %}
        </div>
        <button name = "save_button" type="submit" class="btn btn-primary mt-3">Сохранить</button>
    </form>
    {% endfor %}
</div>
</body>
{% endblock %}