{% extends "base.html" %}
{% block title%}Рекрутинг. Поиск вакасий{% endblock %}
{% block content %}
<body>
	<div class="container">
    <div class="row mt-4">
        <a style="width: 170px" href="/applicant" class="btn ms-2 mb-4 btn-outline-primary" >Обратно к резюме</a>
    </div>
    <h2 class="p-2 text-start">Редактирование опыта работы</h2>

    <form method="post">
        {%for res in select_resume_experience%}
        <div class="col">
            <label for="validationDefault03" class="form-label">Организация</label>
            {%if res.company == None %}
            <input type="text" name = "company" id = "company" required class="form-control" placeholder="Организация"></input>
            {% else %}
            <input type="text" value="{{res.company}}" name = "company" id = "company" required class="form-control" placeholder="Организация"></input>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Должность</label>
            {%if res.position_work == None %}
            <input type="text" name = "position_work" id = "position_work" required class="form-control" placeholder="Должность"></input>
            {% else %}
            <input type="text" value= "{{res.position_work}}" name = "position_work" id = "position_work" required class="form-control" placeholder="Должность"></input>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Обязанности</label>
            {%if res.charge == None %}
            <input type="text" name = "charge" id = "charge" class="form-control" placeholder="Обязанности"></input>
            {% else %}
            <input type="text" value= "{{res.charge}}" name = "charge" id = "charge" class="form-control" placeholder="Обязанности"></input>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Регион</label>
            {%if res.charge == None %}
            <input type="text" name = "region" id = "region" required class="form-control" placeholder="Регион"></input>
            {% else %}
            <input type="text" value= "{{res.region}}" name = "region" id = "region" required class="form-control" placeholder="Регион"></input>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Дата начала работы</label>
            {%if res.charge == None %}
            <input type="date" class="form-control" id="start_dttm" name="start_dttm" placeholder="Дата" required>
            {% else %}
            <input value= "{{res.start_dttm}}" type="date" class="form-control" id="start_dttm" name="start_dttm" placeholder="Дата" required>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Окончание</label>
            <input type="date" class="form-control" id="end_dttm" name="end_dttm" placeholder="Дата">
        </div>
        <div class="form-check mt-2">
            <input name = "time" class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">
                По настоящее время
            </label>
          </div>
        <button name = "save_button" type="submit" class="btn btn-primary mt-3 mb-3">Сохранить</button>
        {% endfor %}
    </form>
</div>
</body>
{% endblock %}