<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Редактирование опыта работы</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
	  	/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
	  	<style>
			.nounderline {
		  	text-decoration: none !important;
		}
	  	</style>
	</head>
	<head>
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
			<div class="container-fluid">
			  	<a class="navbar-brand" style="margin-bottom: 4px;" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 20 20">
						<path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
					</svg>
					Recruting</a>
			  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			  	</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					
					{%if session['role'] == 'admin' or 'employer'%}
				  	<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/new_vacancy" name="new_vacancy">Создание вакансии</a>
					</li>
					{%endif%}
					
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/quiz" name="new_vacancy">Тесты</a>
					</li>
					
					{%if session['role'] == 'admin' or 'employer'%}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/response" name="new_vacancy">Отклики</a>
					</li>
					{%endif%}
					
					{%if not session%}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/auth/auth">Авторизация</a>
					</li>
					{%endif%}

					{%if session%}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ session['user'] }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/profile">Личный кабинет</a></li>

							{%if session['role'] == 'admin' or 'employer'%}
								<li><a class="dropdown-item" href="/vacancy">Вакансии</a></li>
							{%endif%}

							{%if session['role'] == 'client'%}
								<li><a class="dropdown-item" href="/user/response">Мое резюме</a></li>
							{%endif%}

							{%if session['role'] == 'admin' or 'employer'%}
								<li><a class="dropdown-item" href="#">Тесты</a></li>
							{%endif%}

							{%if session['role'] == 'client'%}
								<li><a class="dropdown-item" href="/user/notifications">Уведомления</a></li>
							{%endif%}

							<li><hr class="dropdown-divider"></li>
							<li><button class="dropdown-item danger" onclick="window.location.href='{{ url_for('logout_blueprint.logout') }}';">Выход</button></li>
						</ul>
					</li>
					{%endif%}
				</ul>
			</div>
		</nav>
	</head>
<!-- 
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
		  <form class="d-flex">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		  </form>
		</div>
	  </nav> -->

<body>
	<div class="container">
    <div class="row mt-4">
        <a style="width: 170px" href="/applicant" class="btn ms-2 mb-4 btn-outline-primary" >Обратно к резюме</a>
    </div>
    <h2 class="p-2 text-start">Редактирование опыта работы</h2>

    <form method="post">
        {%for res in select_resume_experience%}
        <div class="col">
            <label for="validationDefault03" class="form-label">Организация</label>
            {%if res.company == None %}
            <input type="text" name = "company" id = "company" required class="form-control" placeholder="Организация"></input>
            {% else %}
            <input type="text" value="{{res.company}}" name = "company" id = "company" required class="form-control" placeholder="Организация"></input>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Должность</label>
            {%if res.position_work == None %}
            <input type="text" name = "position_work" id = "position_work" required class="form-control" placeholder="Должность"></input>
            {% else %}
            <input type="text" value= "{{res.position_work}}" name = "position_work" id = "position_work" required class="form-control" placeholder="Должность"></input>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Обязанности</label>
            {%if res.charge == None %}
            <input type="text" name = "charge" id = "charge" class="form-control" placeholder="Обязанности"></input>
            {% else %}
            <input type="text" value= "{{res.charge}}" name = "charge" id = "charge" class="form-control" placeholder="Обязанности"></input>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Регион</label>
            {%if res.charge == None %}
            <input type="text" name = "region" id = "region" required class="form-control" placeholder="Регион"></input>
            {% else %}
            <input type="text" value= "{{res.region}}" name = "region" id = "region" required class="form-control" placeholder="Регион"></input>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Дата начала работы</label>
            {%if res.charge == None %}
            <input type="date" class="form-control" id="start_dttm" name="start_dttm" placeholder="Дата" required>
            {% else %}
            <input value= "{{res.start_dttm}}" type="date" class="form-control" id="start_dttm" name="start_dttm" placeholder="Дата" required>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Окончание</label>
            <input type="date" class="form-control" id="end_dttm" name="end_dttm" placeholder="Дата">
        </div>
        <div class="form-check mt-2">
            <input name = "time" class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">
                По настоящее время
            </label>
          </div>
        <button name = "save_button" type="submit" class="btn btn-primary mt-3 mb-3">Сохранить</button>
        {% endfor %}
    </form>
</div>
</body>
</html>