{% extends "base.html" %}
{% block title%}Рекрутинг. Поиск вакасий{% endblock %}
{% block content %}
<body>
	<div class="container">
        <div class="row mt-4">
            <a style="width: 170px" href="/applicant" class="btn ms-2 mb-4 btn-outline-primary" >Обратно к резюме</a>
        </div>

    <h2 class="p-2 text-start">Редактирование должности</h2>
    {%for res in user_resume%}
    <form method="post">
        <div class="col">
            <label for="validationDefault03" class="form-label">Желаемая должность</label>
            {% if res.position_work == None %}
            <input type="text" name = "position_work" id = "position" required class="form-control" placeholder="Желаемая должность"></input>
            {% else %}
            <input type="text" value = "{{ res.position_work }}" name = "position_work" id = "position" required class="form-control" placeholder="Желаемая должность"></input>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Ваши специализации</label>
            {% if res.specialization == None %}
            <input type="text" name = "specialization" id = "specialization" required class="form-control" placeholder="Ваши специализации"></input>
            {% else %}
            <input type="text" value = "{{ res.specialization }}" name = "specialization" id = "specialization" required class="form-control" placeholder="Ваши специализации"></input>
            {% endif %}
        </div>
        <div class="col mt-2">
            <label for="validationDefault03" class="form-label">Желаемая зарплата</label>
            <div class="input-group">
                <span class="input-group-text" id="addon-wrapping">₽</span>
                {% if res.salary == None %}
                <input type="text" name = "salary" id = "salary" class="form-control" placeholder="Желаемая зарплата" aria-describedby="addon-wrapping">
                {% else %}
                <input type="text" value = "{{ res.salary }}" name = "salary" id = "salary" class="form-control" placeholder="Желаемая зарплата" aria-describedby="addon-wrapping">
                {% endif %}
            </div>
        </div>
        <button name = "save_button" type = "submit" class="btn btn-primary mt-3">Сохранить</button>
    </form>
    {% endfor %}
</div>
</body>
{% endblock %}