<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Резюме</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
	  	/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
	  	<style>
			.nounderline {
		  	text-decoration: none !important;
		}
	  	</style>
	</head>
	<head>
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
			<div class="container-fluid">
			  	<a class="navbar-brand" style="margin-bottom: 4px;" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 20 20">
						<path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
					</svg>
					Recruting</a>
			  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			  	</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					
					{%if session['role'] == 'admin' or session['role'] == 'employer'%}
				  	<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/new_vacancy" name="new_vacancy">Создание вакансии</a>
					</li>
					{%endif%}
					
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/quiz" name="new_vacancy">Тесты</a>
					</li>
					
					{%if session['role'] == 'admin' or session['role'] == 'employer'%}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/response" name="new_vacancy">Отклики</a>
					</li>
					{%endif%}
					
					{%if not session%}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/auth/auth">Авторизация</a>
					</li>
					{%endif%}

					{%if session%}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ session['user'] }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/profile">Личный кабинет</a></li>

							{%if session['role'] == 'admin' or session['role'] == 'employer'%}
							<li><a class="dropdown-item" href="#">Профиль компании</a></li>
							{%endif%}

							{%if session['role'] == 'admin' or session['role'] == 'employer'%}
								<li><a class="dropdown-item" href="/vacancy">Вакансии</a></li>
							{%endif%}

							
							{%if session['role'] == 'client'%}
								<li><a class="dropdown-item" href="/applicant">Мое резюме</a></li>
							{%endif%}

							{%if session['role'] == 'admin' or session['role'] == 'employer'%}
								<li><a class="dropdown-item" href="#">Тесты</a></li>
							{%endif%}

							{%if session['role'] == 'client'%}
								<li><a class="dropdown-item" href="/user/notifications">Уведомления</a></li>
							{%endif%}

							<li><hr class="dropdown-divider"></li>
							<li><button class="dropdown-item danger" onclick="window.location.href='{{ url_for('logout_blueprint.logout') }}';">Выход</button></li>
						</ul>
					</li>
					{%endif%}
				</ul>
			</div>
		</nav>
	</head>
<!-- 
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
		  <form class="d-flex">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		  </form>
		</div>
	  </nav> -->

<body>
	<div class="container">
		<div class="row mt-4">
			<a style="width: 200px" href="/applicant" class="btn ms-2 mb-4 btn-outline-primary" >К списку резюме</a>
		</div>
		<!-- <h2 class="p-2 mt-4 text-start">Создание вакансии</h2> -->
		{%for res in result%}
			{%if res.last_name == None or res.name == None %}	
			<p class="fs-4">Личные данные не указаны</p>
			{% else %}
			<p class="fs-4">{{ res.last_name }} {{ res.name }}</p>
			{% endif %}
			<div class="row">
				<div class="col text-muted">
					Контактная информация
				</div>
			</div>
			<div class="row">
				<div class="col">
					{%if res.phone_number == None %}
					Номер телефона не указан
					{% else %}
					Номер телефона: {{ res.phone_number }}
					{% endif %}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{%if res.email == None %}
					Почта не указана
					{% else %}
					Почта: {{ res.email }}
					{% endif %}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{%if res.region == None %}
					Регион не указан
					{% else %}
					Регион: {{ res.region }}
					{% endif %}
				</div>	
			</div>
			<a href="/profile" class="mt-1 btn btn-secondary">Редактировать</a>
		{% endfor %}
		{%for res in user_resume%}
		<p class="fs-4 text-muted mt-4">Должность</p>
			<div class="row">
				<div class="col">
					Желаемая должность: {{ res.position_work }}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{%if res.specialization == None %}
					Специализации не указаны
					{% else %}
					Специализации: {{ res.specialization }}
					{% endif %}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{%if res.salary == None %}
					Желаемая зарплата не указана
					{% else %}
					Желаемая зарплата {{ res.salary }} рублей
					{% endif %}
				</div>	
			</div>
			<a href="/resume/position/edit/{{ res.resume_id }}" class="mt-1 btn btn-secondary" >Редактировать</a>
		{% endfor %}
		{%for res in user_resume_experience%}
		<p class="fs-4 text-muted mt-4">Опыт работы</p>
			{%if res.company == None %}
			<div class="col ">
				Не указан
			</div>	
			{% else %}
			<div class="row ">
				<div class="col ">
					Компания: {{ res.company }}
				</div>	
			</div>
			<div class="row ">
				<div class="col ">
					{{ res.region }}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{{ res.start_dttm[0:7] }} —
					{% if res.end_dttm %}
					{% if res.end_dttm[0:4] | int < 2055 %}
					{{ res.end_dttm[0:7] }}
					{% else %}
					По настоящее время
					{% endif %}
					{% else %}
					По настоящее время
					{% endif %}
				</div>	
			</div>
			<div class="row ">
				<div class="col ">
					Должность: {{ res.position_work }}
				</div>	
			</div>
			<div class="row ">
				<div class="col ">
					Обязанности: {{ res.charge }}
				</div>	
			</div>
			{% endif %}
			<a href="/resume/experience/edit/{{ res.resume_id }}" class="mt-1 btn btn-secondary">Редактировать</a>
		{% endfor %}
		{%for res in user_resume%}
		<p class="fs-4 text-muted mt-4">Обо мне</p>
			<div class="row">
				<div class="col">
					{%if res.about == None %}
					Информация не указана
					{% else %}
					{{ res.about }}
					{% endif %}
				</div>	
			</div>
			<a href="/resume/about/edit/{{ res.resume_id }}" class="mt-1 btn btn-secondary" >Редактировать</a>
			<div class="mt-5"></div>
		{% endfor %}
</div>
</body>
</html>