{% extends "base.html" %}
{% block title%}Рекрутинг. Поиск вакасий{% endblock %}
{% block content %}
<body>
	<div class="container">
		<div class="row mt-4">
			<a style="width: 200px" href="/applicant" class="btn ms-2 mb-4 btn-outline-primary" >К списку резюме</a>
		</div>
		<!-- <h2 class="p-2 mt-4 text-start">Создание вакансии</h2> -->
		{%for res in result%}
			{%if res.last_name == None or res.name == None %}	
			<p class="fs-4">Личные данные не указаны</p>
			{% else %}
			<p class="fs-4">{{ res.last_name }} {{ res.name }}</p>
			{% endif %}
			<div class="row">
				<div class="col text-muted">
					Контактная информация
				</div>
			</div>
			<div class="row">
				<div class="col">
					{%if res.phone_number == None %}
					Номер телефона не указан
					{% else %}
					Номер телефона: {{ res.phone_number }}
					{% endif %}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{%if res.email == None %}
					Почта не указана
					{% else %}
					Почта: {{ res.email }}
					{% endif %}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{%if res.region == None %}
					Регион не указан
					{% else %}
					Регион: {{ res.region }}
					{% endif %}
				</div>	
			</div>
			<a href="/profile" class="mt-1 btn btn-secondary">Редактировать</a>
		{% endfor %}
		{%for res in user_resume%}
		<p class="fs-4 text-muted mt-4">Должность</p>
			<div class="row">
				<div class="col">
					Желаемая должность: {{ res.position_work }}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{%if res.specialization == None %}
					Специализации не указаны
					{% else %}
					Специализации: {{ res.specialization }}
					{% endif %}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{%if res.salary == None %}
					Желаемая зарплата не указана
					{% else %}
					Желаемая зарплата {{ res.salary }} рублей
					{% endif %}
				</div>	
			</div>
			<a href="/resume/position/edit/{{ res.resume_id }}" class="mt-1 btn btn-secondary" >Редактировать</a>
		{% endfor %}
		{%for res in user_resume_experience%}
		<p class="fs-4 text-muted mt-4">Опыт работы</p>
			{%if res.company == None %}
			<div class="col ">
				Не указан
			</div>	
			{% else %}
			<div class="row ">
				<div class="col ">
					Компания: {{ res.company }}
				</div>	
			</div>
			<div class="row ">
				<div class="col ">
					{{ res.region }}
				</div>	
			</div>
			<div class="row">
				<div class="col">
					{{ res.start_dttm[0:7] }} —
					{% if res.end_dttm %}
					{% if res.end_dttm[0:4] | int < 2055 %}
					{{ res.end_dttm[0:7] }}
					{% else %}
					По настоящее время
					{% endif %}
					{% else %}
					По настоящее время
					{% endif %}
				</div>	
			</div>
			<div class="row ">
				<div class="col ">
					Должность: {{ res.position_work }}
				</div>	
			</div>
			<div class="row ">
				<div class="col ">
					Обязанности: {{ res.charge }}
				</div>	
			</div>
			{% endif %}
			<a href="/resume/experience/edit/{{ res.resume_id }}" class="mt-1 btn btn-secondary">Редактировать</a>
		{% endfor %}
		{%for res in user_resume%}
		<p class="fs-4 text-muted mt-4">Обо мне</p>
			<div class="row">
				<div class="col">
					{%if res.about == None %}
					Информация не указана
					{% else %}
					{{ res.about }}
					{% endif %}
				</div>	
			</div>
			<a href="/resume/about/edit/{{ res.resume_id }}" class="mt-1 btn btn-secondary" >Редактировать</a>
			<div class="mt-5"></div>
		{% endfor %}
</div>
</body>
{% endblock %}