{% extends "base.html" %}
{% block title%}Регистрация работодателя{% endblock %}
{% block content %}
  <body>
    <div class="container d-flex justify-content-center">
      <form method="POST">
        <div class="row mt-5">
          <div class="col">
            <h1>Регистрация работодателя</h1>
          </div>
        </div>

        {% if already_exists %}
        <div class="row">
          <div class="col">
            <p style="color: red">
              Пользователь <b>{{ user_data['login'] }}</b> уже существует
            </p>
          </div>
        </div>
        {% endif %} {% if mismatched_passwords %}
        <div class="row">
          <div class="col">
            <p style="color: red">Пароли не совпадают</p>
          </div>
        </div>

        {% endif %}


        <div class="row">
            <div class="col-5">
              <p>Имя</p>
            </div>
            <div class="col">
              <p>
                <input type="text" name="name" id="name" 
                  {% if mismatched_passwords %}
                      value="{{ data['name'] }}"
                  {% endif %}
                  {% if already_exists %}
                  value="{{ data['name'] }}"
                  {% endif %}
                  required
                />
              </p>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
              <p>Фамилия</p>
            </div>
            <div class="col">
              <p>
                <input type="text" name="last_name" id="last_name" 
                  {% if mismatched_passwords %}
                      value="{{ data['last_name'] }}"
                  {% endif %}
                  {% if already_exists %}
                  value="{{ data['last_name'] }}"
                  {% endif %}
                  required
                />
              </p>
            </div>
        </div>

        
        <div class="row">
            <div class="col-5">
              <p>Телефон</p>
            </div>
            <div class="col">
              <p>
                <input type="text" name="phone" id="phone" 
                  {% if mismatched_passwords %}
                      value="{{ data['phone'] }}"
                  {% endif %}
                  {% if already_exists %}
                  value="{{ data['phone'] }}"
                  {% endif %}
                  required
                />
              </p>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
              <p>Email</p>
            </div>
            <div class="col">
              <p>
                <input type="text" name="email" id="email" 
                  {% if mismatched_passwords %}
                      value="{{ data['email'] }}"
                  {% endif %}
                  {% if already_exists %}
                  value="{{ data['email'] }}"
                  {% endif %}
                  required
                />
              </p>
            </div>
        </div>

        
        <div class="row">
            <div class="col-5">
              <p>Название компании</p>
            </div>
            <div class="col">
              <p>
                <input type="text" name="company" id="company" 
                  {% if mismatched_passwords %}
                      value="{{ data['company'] }}"
                  {% endif %}
                  {% if already_exists %}
                  value="{{ data['company'] }}"
                  {% endif %}
                  required
                />
              </p>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
              <p>Город</p>
            </div>
            <div class="col">
              <p>
                <input type="text" name="city" id="city" 
                  {% if mismatched_passwords %}
                      value="{{ data['city'] }}"
                  {% endif %}
                  {% if already_exists %}
                  value="{{ data['city'] }}"
                  {% endif %}
                  required
                />
              </p>
            </div>
        </div>


        <div class="row">
          <div class="col-5">
            <p>Адрес</p>
          </div>
          <div class="col">
            <p>
              <input type="text" name="address" id="address" 
                {% if mismatched_passwords %}
                    value="{{ data['address'] }}"
                {% endif %}
                {% if already_exists %}
                value="{{ data['address'] }}"
                {% endif %}
                required
              />
            </p>
          </div>
      </div>

        <div class="row">
          <div class="col-5">
            <p>Логин</p>
          </div>
          <div class="col">
            <p>
              <input type="text" name="login" id="login" 
                {% if mismatched_passwords %}
                    value="{{ data['login'] }}"
                {% endif %}
                required
              />
            </p>
          </div>
      </div>

      <div class="row">
        <div class="col-5">
          <p>Пароль</p>
        </div>
        <div class="col">
          <p>
            <input type="text" name="password" id="password" 
              {% if mismatched_passwords %}
                  value="{{ new_user_password }}"
              {% endif %}
              required
            />
          </p>
        </div>
    </div>

    <div class="row">
      <div class="col-5">
        <p>Повторите пароль</p>
      </div>
      <div class="col">
        <p>
          <input type="text" name="repeat_password" id="repeat_password" 
            {% if mismatched_passwords %}
                value="{{ new_user_repeat_password }}"
            {% endif %}
            required
          />
        </p>
      </div>
  </div>
  <div class="row mt-3">
    <div class="col mb-1">
        <button type="submit" name="save_new_employer" class="btn btn-primary" style="width: 130px">Регистарция</button>
        <a href="/auth/auth" type="submit" name="registration_button" class="btn btn-secondary" style="width: 130px">Отмена</a>  
    </div>
</div>

      </form>
    </div>
  </body>
{% endblock %}