{% extends "base.html" %}
{% block title%}Регистрация в системе{% endblock %}
{% block content %}
  <body>
    <div class="container d-flex justify-content-center">
      <form method="POST">
        <div class="row mt-5">
          <div class="col">
            <h1>Регистрация в системе</h1>
          </div>
        </div>

        {% if already_exists %}
        <div class="row">
          <div class="col">
            <p style="color: red">
              Пользователь <b>{{ user_data['login'] }}</b> уже существует
            </p>
          </div>
        </div>
        {% endif %} {% if mismatched_passwords %}
        <div class="row">
          <div class="col">
            <p style="color: red">Пароли не совпадают</p>
          </div>
        </div>

        {% endif %}

        <div class="row">
          <div class="col-5">
            <p>Логин</p>
          </div>

          <div class="col">
            <p>
              <input type="text" name="login" id="login" 
                {% if mismatched_passwords %}
                    value="{{ new_user_login }}"
                {% endif %}
                
              />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p>Пароль</p>
          </div>

          <div class="col">
            <p><input type="password" name="password" id="password" /></p>
          </div>
        </div>

        <div class="row">
          <div class="col-5">
            <p>Повторите пароль</p>
          </div>

          <div class="col">
            <p><input type="password" name="repeat_password" id="repeat_password" /></p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col mb-1">
              <button type="submit" name="save_new_user" class="btn btn-primary" style="width: 130px">Регистарция</button>
              <button type="submit" name="cancel_registration" class="btn btn-secondary" style="width: 130px;" onclick="cancel()">Отмена</button> 
          </div>
      </div>
<!-- 
        <div class="row mt-2">
          <div class="col-4">
              <p>
                  <button type="submit" name="save_new_user" class="btn btn-primary" style="width: 130px;">Регистарция</button>
                  <button type="submit" name="cancel_registration" class="btn btn-secondary" style="width: 130px;" onclick="cancel()">Отмена</button>
              </p>
          </div>
          <div class="col">
            <p>
              <button type="submit" name="cancel_registration" class="btn btn-secondary" style="width: 130px;" onclick="cancel()">Отмена</button>
            </p> -->
          </div>
        </div>
      </form>
    </div>
  </body>
{% endblock %}
