<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Working with db</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
	  	/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
	  	<style>
			.nounderline {
		  	text-decoration: none !important;
		}
	  	</style>
          <script>
            function cancel() {
              document.getElementById("login").removeAttribute("required");
              document.getElementById("password").removeAttribute("required");
              document.getElementById("repeat_password").removeAttribute("required");
            }
          </script>
	</head>
	<head>
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
			<div class="container-fluid">
			  	<a class="navbar-brand" style="margin-bottom: 4px;" href="/#">Recruting</a>
			  	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
			  	</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{%if not session%}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/auth/auth">Авторизация</a>
					</li>
					{%endif%}
					
					{%if session['role'] == 'admin'%}
				  	<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/new_vacancy" name="new_vacancy">Создание вакансии</a>
					</li>
					{%endif%}
					
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/quiz/quiz" name="new_vacancy">Тесты</a>
					</li>
					
					{%if session['role'] == 'admin'%}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#" name="new_vacancy">Отклики</a>
					</li>
					{%endif%}

					{%if session%}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ session['user'] }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Личный кабинет</a></li>
							<li><a class="dropdown-item" href="#">Вакансии</a></li>
							<li><a class="dropdown-item" href="#">Уведомления</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><button class="dropdown-item danger" onclick="window.location.href='{{ url_for('logout_blueprint.logout') }}';">Выход</button></li>
						</ul>
					</li>
					{%endif%}
					</ul>

		</nav>
	</head>
  <body>
    <div class="container d-flex justify-content-center">
      <form method="POST">
        <div class="row mt-5">
          <div class="col">
            <h1>Регистрация в системе</h1>
          </div>
        </div>

        {% if already_exists %}
        <div class="row">
          <div class="col">
            <p style="color: red">
              Пользователь <b>{{ user_data['login'] }}</b> уже существует
            </p>
          </div>
        </div>
        {% endif %} {% if mismatched_passwords %}
        <div class="row">
          <div class="col">
            <p style="color: red">Пароли не совпадают</p>
          </div>
        </div>

        {% endif %}

        <div class="row">
          <div class="col-5">
            <p>Логин</p>
          </div>

          <div class="col">
            <p>
              <input type="text" name="login" id="login" 
                {% if mismatched_passwords %}
                    value="{{ new_user_login }}"
                {% endif %}
                required
              />
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p>Пароль</p>
          </div>

          <div class="col">
            <p><input type="password" name="password" id="password" required /></p>
          </div>
        </div>

        <div class="row">
          <div class="col-5">
            <p>Повторите пароль</p>
          </div>

          <div class="col">
            <p><input type="password" name="repeat_password" id="repeat_password" required /></p>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-6">
              <p>
                  <button type="submit" name="save_new_user" class="btn btn-primary" style="width: 130px;">Регистарция</button>
              </p>
          </div>
          <div class="col">
            <p>
              <button type="submit" name="cancel_registration" class="btn btn-secondary" style="width: 130px;" onclick="cancel()">Отмена</button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
